.idea
aestheticodes.xcworkspace/xcshareddata/aestheticodes.xccheckout
aestheticodes.xcworkspace/xcuserdata/
aestheticodes.xcodeproj/project.xcworkspace/xcshareddata/aestheticodes.xccheckout
aestheticodes.xcodeproj/project.xcworkspace/xcuserdata/
aestheticodes.xcodeproj/xcuserdata/
Pods/
Podfile.lock
keys.plist